<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
  </head>
  <body class="font-nunito">

    <!-- Section de la bannière -->
    <div id="section1" class="h-[50vh] bg-gradient-to-t from-indigo-300 lg:h-screen relative overflow-hidden ">

      <!-- Barre de navigation -->
      <nav class="fixed top-0 w-full z-10">
        <div class="container mx-auto flex items-center justify-between py-5">

          <!-- Logo et titre -->
          <div class="">
            <a href="#" class="flex gap-0 items-center"> 
            <img src="../assets/images/1-removebg-preview.png" alt="" class="w-12" />
            <span class="text-xl text-indigo-600 font-bold">Logo</span>
          </a>
          </div>
         <!-- Logo et titre -->

          <!-- Liens de navigation pour les écrans moyens et plus grands -->
          <ul class="hidden items-center space-x-10 text-sm font-bold uppercase text-gray-600 md:flex">
            <li class="hover:text-gray-400">
              <a class="cursor-pointer" (click)="scrollTo('section1')" >Home</a>
            </li>
            <li class="hover:text-gray-400">
              <a class="cursor-pointer" (click)="scrollTo('section2')" >About</a>
            </li>
            <li class="hover:text-gray-400">
              <a class="cursor-pointer" (click)="scrollTo('section3')" >Projects</a>
            </li>
            <li class="hover:text-gray-400">
              <a class="cursor-pointer" (click)="scrollTo('section4')" >Contact</a>
            </li>
          </ul>
          <!-- Liens de navigation pour les écrans moyens et plus grands -->


          <!-- Icône de menu hamburger pour les petits écrans -->
          <a  href=""><img src="../assets/images/croissant-de-lune.png" alt="" class="hidden w-7 cursor-pointer md:block" /></a>
          <div id="hamburger" class="cursor pointer cursor-pointer space-y-1 z-20 md:hidden" (click)="toggleMenu()">
            <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div> 
            <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div> 
            <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div>
          </div>
          <!-- Icône de menu hamburger pour les petits écrans -->


          <!-- Menu déroulant pour les petits écrans -->
          <ul *ngIf="isMenuOpen" id="menu" class="absolute left-0 top-0 w-full space-y-10 rounded-b-3xl bg-indigo-900 p-10 text-center text-white">
            <li>
              <a class="cursor-pointer" (click)="scrollTo('section1')" >Home</a>
            </li>
            <li>
              <a class="cursor-pointer" (click)="scrollTo('section2')" >About</a>
            </li>
            <li>
              <a class="cursor-pointer" (click)="scrollTo('section3')" >Projects</a>
            </li>
            <li>
              <a class="cursor-pointer" (click)="scrollTo('section4')" >Contacts</a>
            </li>
          </ul>
         <!-- Menu déroulant pour les petits écrans -->
          
         
        </div>
      </nav>

      <!-- Barre de navigation -->

       <!--Section Principale-->
       <div></div>
      <!--Image -->
      <img class="absolute bottom-0 right-0 w-2/4 lg:left-0 mx-auto h-5/6 xl:w-fit md:w-fit lg:w-fit sm:w-fit object-cover" src="../assets/images/IMG_20240808_153735_521-removebg.png" alt="">
      <!--Cercle derrière l'image-->
      <div class="hidden lg:block absolute -bottom-1/4 right-0 left-0 mx-auto w-big h-big bg bg-indigo-900 rounded-full -z-10"></div>

      <!-- >Texte de la bannière -->
      <div class="absolute top-1/3 left-3 text-xl sm:left-36  md:text-xl md:left-32 lg:left-5 lg:text-3xl xl:left-32 xl:text-4xl font-bold">
        <span class="text-gray-600">Web & mobile</span>
        <p class="text-red-500">Developer</p>
    </div>

    <!-- textes -->
     <div class="hidden lg:flex flex-col gap-5 rounded-md shadow-lg absolute top-0 bottom-0 m-auto right-10 bg-white h-fit p-6 w-1/3 mt-96">
      <h1 class="text-3xl font-bold text-indigo-900">Hello it's Mapathé</h1>
      <p class="text-gray-600 text-sm">Looking for software solutions to your problems?

        I specialize in creating innovative and efficient solutions tailored to your needs. Whether it's developing a 
        robust backend with Spring Boot or crafting a seamless user experience with Angular, I'm here to help. 
        Let's turn your ideas into reality!</p>
          <a (click)="scrollTo('section4')"class="px-3 py-2 bg-indigo-500 rounded-md hover:bg-indigo-700 focus:ring-black w-fit text-white">Contact me</a>
     </div>
    
   
    </div>
    <!--Section about me-->
<section id="section2" class="pt-10">
  <div class="container mx-auto flex flex-col-reverse w-3/4 md:flex-row md:mx-auto md:w-3/4 md:pt-12 md:pb-28 ">
    <!-- Image avatar -->
    <div class="relative flex justify-center mt-20 md:w-full md:mt-32 md:mb-20 text-center lg:w-full sm:flex sm:justify-center sm:mt-36 sm:mb-20 lg:mt-36 xl:mt-32">
      <div class="absolute inset-0 flex justify-center items-center">
        <div class="w-small h-96 xl:w-small xl:h-medium lg:w-80 lg:h-small md:w-80 md:h-small sm:w-96 sm:h-medium bg-gradient-to-t from-indigo-600 rounded-full opacity-50"></div>
      </div>
      <img
        class="relative w-52 mt-20 mb-20 sm:w-64 sm:mt-0 md:w-52 md:mt-0 lg:mt-0 xl:w-72"
        src="../assets/images/homme.png" alt="">
    </div>
    
    <!-- Text and Technologies -->
    <div class="md:w-full md:h-10 space-y-5 md:mt-10">
      <!-- Text About me -->
      <h2 class="text-2xl font-bold text-indigo-700 text-center mb-5 mt-5 md:text-left md:text-xl">About me</h2>
      <p class="text-gray-700 font-nunito text-justify mb-10 sm:text-sm md:text-sm lg:text-lg">
        I am a developer passionate about creating innovative and efficient solutions. 
        Always eager to learn, I strive to stay at the forefront of technologies and best practices. 
        Outside of development, I enjoy reading, drawing, playing basketball, and exploring new skills.
      </p>
      <!-- Technologies -->
      <div class="space-y-5">
        <div>
          <p><i class="fa-brands fa-html5 text-orange-600 text-3xl sm:text-2xl md:text-3xl"></i></p>
          <div class="w-full bg-gray-200 h-1.5 md:h-2 rounded-full"> 
            <div class="w-11/12 bg-indigo-900 h-1.5 md:h-2 rounded-full"></div>
          </div>
        </div>
        <div>
          <p><i class="fa-brands fa-css3-alt text-3xl sm:text-2xl md:text-3xl text-blue-500"></i></p>
          <div class="w-full bg-gray-200 h-1.5 md:h-2 rounded-full"> 
            <div class="w-10/12 bg-indigo-900 h-1.5 md:h-2 rounded-full"></div>
          </div>
        </div>
        <div>
          <p><i class="fa-brands fa-js text-3xl sm:text-2xl md:text-3xl text-yellow-500"></i></p>
          <div class="w-full bg-gray-200 h-1.5 md:h-2 rounded-full"> 
            <div class="w-9/12 bg-indigo-900 h-1.5 md:h-2 rounded-full"></div>
          </div>
        </div>
        <div>
          <p><i class="fa-brands fa-php text-3xl sm:text-2xl md:text-3xl text-indigo-500"></i></p>
          <div class="w-full bg-gray-200 h-1.5 md:h-2 rounded-full"> 
            <div class="w-8/12 bg-indigo-900 h-1.5 md:h-2 rounded-full"></div>
          </div>
        </div>
        <div>
          <p><i class="fa-brands fa-java text-red-600 text-3xl sm:text-2xl md:text-3xl"></i></p>
          <div class="w-full bg-gray-200 h-1.5 md:h-2 rounded-full"> 
            <div class="w-7/12 bg-indigo-900 h-1.5 md:h-2 rounded-full"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->


  <div id="section3" class="container mx-auto px-4 py-8 mb-16">
    <h2 class="text-2xl font-bold text-indigo-700 text-center mb-24 mt-10">Projects & Portfolio</h2>
  
    <div class="flex flex-wrap -mx-2">
      <div class="w-full sm:w-1/2 md:w-1/3 px-2 mb-10">
        <div class="bg-white shadow-md rounded-lg overflow-hidden h-full flex flex-col">
          <img src="../assets/images/512126-PI9NPP-262.jpg" alt="Project 1" class="w-full h-48 object-cover">
          <div class="p-4 flex-grow">
            <h3 class="text-xl font-semibold mb-2">Springtransfert</h3>
            <p class="text-gray-600 mb-4">SpringTransfert is a secure money transfer API developed with Spring Boot. It allows for efficient management of transactions.</p>
          </div>
          <div class="p-4 mt-auto">
            <a href="https://github.com/SNcodeur2001/springtransfert" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Consult</a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 px-2 mb-10">
        <div class="bg-white shadow-md rounded-lg overflow-hidden h-full flex flex-col">
          <img src="../assets/images/Hands holding pencils to play tic tac toe.jpg" alt="Project 2" class="w-full h-48 object-cover">
          <div class="p-4 flex-grow">
            <h3 class="text-xl font-semibold mb-2">TicTacToe</h3>
            <p class="text-gray-600 mb-4">Tic-Tac-Toe is a game project developed in Java. It is a classic implementation of the tic-tac-toe game, where two players compete to align three identical symbols horizontally, vertically, or diagonally. This project highlights skills in object-oriented programming and simple game development.</p>
          </div>
          <div class="p-4 mt-auto">
            <a href="https://github.com/SNcodeur2001/Tic-Tac-Toe-" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Consult</a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 px-2 mb-10">
        <div class="bg-white shadow-md rounded-lg overflow-hidden h-full flex flex-col">
          <img src="../assets/images/5715.jpg" alt="Project 3" class="w-full h-48 object-cover">
          <div class="p-4 flex-grow">
            <h3 class="text-xl font-semibold mb-2">Safedrive</h3>
            <p class="text-gray-600 mb-4">safeDrive est une application de sensibilisation à la sécurité routière développée avec Angular et Ionic. Elle permet aux utilisateurs d'accéder à des informations et des ressources éducatives via le scan de code QR.</p>
          </div>
          <div class="p-4 mt-auto">
            <a href="https://github.com/SNcodeur2001/safeDriveFront" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Consult</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Contact Fom -->
  <div id="section4" class="container mx-auto mt-5">
    <div class="flex flex-col gap-3 items-center">
      <h1 class="text-indigo-600 font-bold text-2xl mt-16">Contact</h1>
      <p class="text-3xl">Have a question</p>
      <p class="text-gray-600">Have any idea? Let's discuss about it</p>
    </div>
    <div class="formulaire mt-10">
      <form action="" class="flex flex-col gap-5 p-6">
        <input class="ring-1 w-full ring-indigo-400 rounded-md p-2" type="text" placeholder="Name ">
        <input class="ring-1 w-full ring-indigo-400 rounded-md p-2"  type="mail" placeholder="Email ">
        <textarea class="ring-1 w-full ring-indigo-400 rounded-md p-2" cols="30" rows="10" name="" id="" placeholder="message "></textarea>
        <button class="mt-4 bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Submit</button>

      </form>
      
    </div>
  </div>


  <!-- footer -->
   <footer>
    <div class="bg-gray-700 w-full z-10">
      <div class="container mx-auto flex items-center justify-between py-5 text-white ">

        <!-- Logo et titre -->
        <div class="logo">
          <a href="#" class="flex gap-0 items-center"> 
          <img src="../assets/images/1-removebg-preview.png" alt="" class="w-12" />
          <span class="text-xl text-indigo-600 font-bold">Logo</span>
        </a>
        </div>
        <div class="hidden md:block">
          <p>&copy; 2024 Mapathé. All rights reserved.</p> 
        </div>
          <div class="rs flex gap-2">
            <a href="https://www.linkedin.com/in/mapath%C3%A9-ndiaye-ab5b23258/">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/SNcodeur2001">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://x.com/MapathenmNdiaye">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
                       
            
          </div>
       <!-- Logo et titre -->

        <!-- Liens de navigation pour les écrans moyens et plus grands -->
        <!-- <ul class="hidden items-center space-x-10 text-sm font-bold uppercase text-gray-600 md:flex">
          <li class="hover:text-gray-400">
            <a href="#">Home</a>
          </li>
          <li class="hover:text-gray-400">
            <a href="#">About</a>
          </li>
          <li class="hover:text-gray-400">
            <a href="#">Projects</a>
          </li>
          <li class="hover:text-gray-400">
            <a href="#">Contacts</a>
          </li>
        </ul> -->
        <!-- Liens de navigation pour les écrans moyens et plus grands -->


        <!-- Icône de menu hamburger pour les petits écrans -->
        <!-- <a href="#"><img src="../assets/images/croissant-de-lune.png" alt="" class="hidden w-7 cursor-pointer md:block" /></a>
        <div id="hamburger" class="cursor pointer cursor-pointer space-y-1 z-20 md:hidden" (click)="toggleMenu()">
          <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div> 
          <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div> 
          <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div>
        </div> -->
        <!-- Icône de menu hamburger pour les petits écrans -->


        <!-- Menu déroulant pour les petits écrans -->
        <!-- <ul *ngIf="isMenuOpen" id="menu" class="absolute left-0 top-0 w-full space-y-10 rounded-b-3xl bg-indigo-900 p-10 text-center text-white">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Projects</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
        </ul> -->
       <!-- Menu déroulant pour les petits écrans -->
        
       
      </div>
    </div>

   </footer>
  </body>
</html>
