<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
  </head>
  <body class="font-nunito">

    <!-- Section de la bannière -->
    <div class="h-[50vh] bg-gradient-to-t from-indigo-300 lg:h-screen relative overflow-hidden">

      <!-- Barre de navigation -->
      <nav class="fixed top-0 w-full z-10">
        <div class="container mx-auto flex items-center justify-between py-5">

          <!-- Logo et titre -->
          <div class="flex items-center gap-2">
            <a href="#"> <img src="https://th.bing.com/th/id/OIP.cAcaV1TMen4IaDQjfOnQeAHaEK?w=306&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" class="w-8" /></a>
            <span>Logo</span>
          </div>
         <!-- Logo et titre -->

          <!-- Liens de navigation pour les écrans moyens et plus grands -->
          <ul class="hidden items-center space-x-10 text-sm font-bold uppercase text-gray-600 md:flex">
            <li class="hover:text-gray-400">
              <a href="#">Home</a>
            </li>
            <li class="hover:text-gray-400">
              <a href="#">About</a>
            </li>
            <li class="hover:text-gray-400">
              <a href="#">Projects</a>
            </li>
            <li class="hover:text-gray-400">
              <a href="#">Contacts</a>
            </li>
          </ul>
          <!-- Liens de navigation pour les écrans moyens et plus grands -->


          <!-- Icône de menu hamburger pour les petits écrans -->
          <a href="#"><img src="https://th.bing.com/th/id/OIP.4moSn5iSRWaJMjormoxYOwAAAA?w=197&h=197&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" class="hidden w-7 cursor-pointer md:block" /></a>
          <div id="hamburger" class="cursor pointer cursor-pointer space-y-1 z-20 md:hidden" (click)="toggleMenu()">
            <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div> 
            <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div> 
            <div [ngClass]="{'bg-black': !isMenuOpen, 'bg-white': isMenuOpen}" class="h-0.5 w-6"></div>
          </div>
          <!-- Icône de menu hamburger pour les petits écrans -->


          <!-- Menu déroulant pour les petits écrans -->
          <ul *ngIf="isMenuOpen" id="menu" class="absolute left-0 top-0 w-full space-y-10 rounded-b-3xl bg-indigo-900 p-10 text-center text-white">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
          </ul>
         <!-- Menu déroulant pour les petits écrans -->
          
         
        </div>
      </nav>

      <!-- Barre de navigation -->
       <!--Section Principale-->
      <!--Image -->
      <img class="absolute bottom-0 right-0 lg:left-0 mx-auto h-5/6 object-cover" src="../assets/images/IMG_20240808_153735_521-removebg.png" alt="">
      <!--Cercle derrière l'image-->
      <div class="hidden lg:block absolute -bottom-1/4 right-0 left-0 mx-auto w-big h-big bg bg-indigo-900 rounded-full -z-10"></div>


      <div class="absolute top-1/3 left-3 text-xl sm:text-4xl md:text-4xl md:left-10 lg:left-5 xl:left-32 xl:text-4xl font-bold">
        <span class="text-gray-600">Web & mobile</span>
        <p class="text-red-500">Developer</p>
    </div>

    <!-- textes -->
     <div class="hidden lg:flex flex-col gap-5 rounded-md shadow-lg absolute top-0 bottom-0 m-auto right-10 bg-white h-fit p-6 w-1/3 mt-96">
      <h1 class="text-3xl font-bold text-indigo-900">Hello c'est Mapathé</h1>
      <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia ducimus,
         velit cupiditate quibusdam expedita at laudantium odit! Maiores consectetur aperiam atque
          quas harum tempora ex odit. Illum, magnam? Exercitationem.</p>
          <a href="#" class="px-3 py-2 bg-indigo-500 rounded-md hover:bg-indigo-700 focus:ring-black w-fit text-white">Contacter moi</a>
     </div>
    
    <!--Section about me-->
    </div>
    <section class="mt-10 ">
      <div class="container mx-auto flex flex-col-reverse w-3/4">

        <div>
          <img
          class=""
          src="../assets/images/2289_SkVNQSBGQU1PIDEwMjgtMTIx.jpg" alt="">
        </div>

        <div class="">
          <p><i class="fa-brands fa-html5 text-orange-700"></i></p>
          <div class="w-full bg-gray-200 h-1.5 rounded-full"> 
            <div class="w-full bg-indigo-900 h-1.5 rounded-full"> </div>
          </div>
          <p><i class="fa-brands fa-html5"></i></p>
          <div class="w-full bg-gray-200 h-1.5 rounded-full"> 
            <div class="w-full bg-indigo-900 h-1.5 rounded-full"> </div>
          </div>
          <p><i class="fa-brands fa-html5"></i></p>
          <div class="w-full bg-gray-200 h-1.5 rounded-full"> 
            <div class="w-full bg-indigo-900 h-1.5 rounded-full"> </div>
          </div>
            
        </div>
        <h2 class=" text-2xl font-bold text-indigo-700">A propos</h2>

      </div>
     
      
    </section>
  </body>
</html>
