<body class="bg-slate-100 m-0 p-0">
    <br>
    <nav class="mx-auto w-2/4 rounded-2xl bg-slate-200 shadow-lg">
      <ul class="flex justify-between items-center p-2">
        <!-- Logo -->
        <li>
          <a routerLink="/home">
            <img src="../../assets/images/1715851703962.jpg" alt="Logo" class="h-10">
          </a>
        </li>
        <!-- Navigation Links -->
        <div class="flex space-x-4">
          <li class="text-sm hover:text-blue-400">
            <a routerLink="/home" routerLinkActive="active">Accueil</a>
          </li>
          <li class="text-sm hover:text-blue-400">
            <a routerLink="/projects" routerLinkActive="active">Projets</a>
          </li>
          <li class="text-sm hover:text-blue-400">
            <a routerLink="/about" routerLinkActive="active">A propos</a>
          </li>
          <li class="text-sm hover:text-blue-400">
            <a routerLink="/contact" routerLinkActive="active">Contacts</a>
          </li>
        </div>
      </ul>
    </nav>
    <br><br><br><br><br>
    <div class="main mx-auto w-2/4">
      <div class="flex space-x-4">
        <div class="">
            <img src="assets/images/1715851703962.jpg" alt="Logo" class="h-20 w-20 rounded-full">
          </div>
          
        <div>Mapathe Ndiaye <br> Web & mobile developer</div>
      </div>
    </div>
  </body>
